.tittle-grafico{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
    
}

.graficoreceitas{
    outline: 1px solid var(--color-primary-hover);
    box-shadow: 0px 0px 15px rgba(170, 170, 170, 0.185);
}

@media (max-width: 1024px) {
    .graficoreceitas{
        grid-column: 1 / 3;
    }
}