.ReceitasModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.375);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.ModalContentDespesasOrReceitas {
    background-color: #ffffff;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    position: relative;
    display: flex;
    
    flex-direction: column;
    gap: 1rem;
}

.ModalHeader {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;

    h3{
        font-size: 2rem;
    }
}

.ModalHeader svg {
    cursor: pointer;
    transition: color 0.2s;
}

.ModalHeader svg:hover {
    color: #ff0000;
}

.ModalBodya {
    box-shadow: 0px 0px 15px rgba(198, 198, 198, 0.164);
    border-radius: 1rem;
}
.tittle-ReceitasOrDespesas {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: black;
}

.RevenuesTable {
    width: 100%;
}

.style-dados-overflow{
    background-color: #2ecc71;
    height: 10px;
    overflow: scroll;
}

.ScrollableTable {
    max-height: 20em;
    overflow-y: auto;
    width: 100%;
    padding: 1rem;
    scrollbar-color: var(--color-primary) white;
    scrollbar-width: thin;
    box-shadow: 0px 0px 15px rgba(198, 198, 198, 0.164);
}


.RevenuesTable th,
.RevenuesTable td {
    text-align: left;
    font-size: 1rem;
}

.RevenuesTable th {
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 2rem;
}

.RevenuesTable td {
    padding: 1rem 2rem;
    font-size: 1.1rem;
    text-transform: uppercase;
}


.AddRevenueForm {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    box-shadow: 0px 0px 15px rgba(198, 198, 198, 0.164);
    padding: 1rem;
    border-radius: 8px;

    h4{
        font-size: 2rem;
    }
}

.AddRevenueForm input {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
    padding: 1rem;
    border: none;

    background-color: var(--color-input-modal);
    input{
        font-size: 1.2rem;
        padding: 1.7rem;

        border: none;
        border-radius: 0.3rem;
    }
}

.button-style-form{
    display: flex;
    gap: 1rem;
}

.addicionarOrAtualizar {
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: background-color 0.2s;
}

.addicionarOrAtualizar:hover {
    background-color: var(--color-primary-hover-button);
}

.Cancelar{
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: background-color 0.2s;

    &:hover{
        background-color: var(--color-primary-hover);
    }
}

.gap-button-receitas{
    display: flex;
    gap: 1rem;
}

.button-editar-receitas{
    background-color: var(--color-primary);
    color: white;
    transition: .2s;
    border-radius: 0.4rem;
    border: none;
    padding: 0.8rem 2rem;
    cursor: pointer;

    &:hover{
        background-color: var(--color-primary-hover-button);
    }
}

.button-deletar-receitas{
    border: 1px solid var();
    padding: 0.8rem 2rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    transition: .2s;
    
    &:hover{
        background-color: var(--color-primary-hover);
    }
}

@media (max-width: 1024px) {
    .ReceitasModal {
        width: 100%; 
    }

    .ModalContentDespesasOrReceitas {
        padding: 1rem; 
    }

    .ModalHeader {
        font-size: 1.3rem; 
    }

    .ModalHeader svg {
        font-size: 1.5rem;
    }

    .tittle-ReceitasOrDespesas {
        font-size: 1.5rem; 
    }

    .AddRevenueForm h4 {
        font-size: 1.6rem;
    }
}