.ultimas-despesas {
    background-color: var(--color-white);
    border-radius: 1rem;
    padding: 1.5rem;
    height: 23.4em;
    box-shadow: 0px 0px 15px rgba(198, 198, 198, 0.164);
    grid-column: span 2; 
    overflow-y: hidden; 
    margin-top: -15px;
}

.ultimas-despesas h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.ultimas-despesas table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
}

.ultimas-despesas th, .ultimas-despesas td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.ultimas-despesas th {
    background-color: #f5f5f5;
}

.ultimas-despesas .ver-mais {
    background-color: #FF6F00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.ultimas-despesas .ver-mais:hover {
    background-color: #e65c00;
}
